<!DOCTYPE html>
<html>
<head>

  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width'>

<!-- Begin Facebook tags -->
<meta property="og:title" content="Stream {{token}}" />
<meta property="og:url" content="http://www.wideshotapp.com/hls/{{token}}/index.m3u8" />
<meta property="og:description" content="Someone is streaming they screen from Wideshot" />
<meta property="og:image" content="" />
<meta property="og:type" content="video" />
<meta property="og:video" content="http://www.wideshotapp.com/hls/{{token}}/index.m3u8" />
<!-- End Facebook tags -->

<!-- Begin Twitter tags -->
<meta name="twitter:title" content="Stream {{token}}" />
<meta name="twitter:url" content="http://www.wideshotapp.com/hls/{{token}}/index.m3u8" />
<meta name="twitter:card" content="Someone is streaming they screen from Wideshot" />
<meta name="twitter:image" content="URL to image for thumbnail (square 350x350px)" />
<!-- End Twitter tags -->

  <title>Live stream</title>
  <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
</head>
<body>
</body>
</html>